<div class="masonry-item bd p-20">
  <div class="profil-img-div">
    <div>
      <img class=""  src="{{ profil?.user.profile_photo_path !== null ? 'storage/public/' + profil?.user.profile_photo_path : 'images/larangular.png' }}" alt="">
      <div (click)="update(1)" class="peer profil-img-edit ">
        <a  class="btn btn-danger card-icon bdrs-50p p-15 lh-0">
          <i   class="fa fa-edit"></i>
        </a>
      </div>
    </div>
  </div>
  <div class="row gap-20">
    <div class='col-md-3'>
      <la-card-editable [title]="'Nom de l\'entreprise'" [value]=" profil?.user.name" [id]="2" (edit)="update($event)" ></la-card-editable>
    </div>
    <div class='col-md-3'>
      <la-card-editable [title]="'Adresse'" [value]="profil?.user.adr" [id]="3" (edit)="update($event)"></la-card-editable>
    </div>
    <div class='col-md-3'>
      <la-card-editable [title]="'Email'" [value]="profil?.user.email" [id]="4" (edit)="update($event)"></la-card-editable>
    </div>
    <div class='col-md-3'>
      <la-card-editable [title]="'Tel'" [value]="profil?.user.tel" [id]="5" (edit)="update($event)"></la-card-editable>
    </div>
  </div>
  <hr class="divider-profil">
  <div class="row gap-20">
    <div class='col-md-3'>
      <la-card-simple [title]="'IFU'" [value]="profil?.user.ifu"></la-card-simple>
    </div>
    <div class='col-md-3'>
      <la-card-simple [value]="profil?.user.devise" [title]="'Devise'"></la-card-simple>
    </div>
    <div class='col-md-3'>
      <la-card-simple [value]=" profil?.user.tva + '%'" [title]="'Tva'"></la-card-simple>
    </div>
    <div class='col-md-3'>
      <la-card-simple [value]="profil?.user.ref" [title]="'Identifiant des factures'"></la-card-simple>
    </div>
  </div>
  <div class="row gap-20">
    <div class='col-md-3'>
      <la-card-simple [value]=" profil?.countFacture" [title]="'Nombre de factures delivrées'"></la-card-simple>
    </div>
    <div class='col-md-3'>
      <la-card-simple [title]="'Nombre d\'articles vendus'" [value]="profil?.countArticle"></la-card-simple>
    </div>
    <div class='col-md-3'>
      <la-card-simple [title]="'Chiffre d\'affaire TTC' " [value]="profil?.ca + ' ' + profil?.user.devise"></la-card-simple>
    </div>
    <div class='col-md-3'>
      <la-card-simple [title]="'TVA collectées'" [value]="(profil?.totalTva ) + ' '  + profil?.user.devise"></la-card-simple>
    </div>
  </div>
  <div class="row gap-20">
    <div class='col-md-3'>
      <la-card-simple [color] =true [title]= "'Total dû par les clients'" [value]=" profil?.totalDu + ' ' + profil?.user.devise"></la-card-simple>
    </div>
  </div>
  <div>
    <la-update-modal [modal]="modal" (reload) = "ngOnInit()" ></la-update-modal>
  </div>
</div>
