

.header, .data-table
{
    border-bottom: 3px solid red !important;
}

.data-table
{
    margin-top: 40px;
    padding-bottom: 20px;
}
.about-ent
{
    min-height: 150px;
}
.about-fac
{
    min-height: 100px;
    margin-bottom: 20px;
}

table.about-ent-table, .header, table.about-fac-table
{
    width: 100%;
}

table.about-ent-table tr .about-ent-name
{
    color: #d73a49;
}

table.about-fac-table tr .about-fac-clt
{
   width: 50%;
    text-align: left;
}
table.about-fac-table tr .about-fac-this
{
    width: 50%;
    text-align: right;
}

table.about-ent-table tr td
{
    width: 100%;
    text-align: center;
}

table.about-ent-table tr .about-ent-logo
{
    margin-bottom: 10px;
}


.about-ent img
{
    max-width: 80px;
    min-height: 80px;
}

.footer {
    margin-top: 150px;
    width: 100%;
    text-align: center;
}

.footer .merci
{
    margin-top: 10px;
}
