<div class="modal fade" id="modalAboutClient" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
    <form class="container form-client" >
      <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modaltitle">A propos du client</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="bgc-white">
          <div >
              <div class="row">
                <div class="col-md-12 mb-3">
                  <label for="name" >Nom et Prénom</label>
                  <input type="text" (keyup)="search($event)" list="clients" class="form-control" id="name" required>
                  <datalist id="clients">
                    <option *ngFor="let clt of clients" value="{{ clt.name }}">
                  </datalist>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 mb-3">
                  <label for="tel" >Tel</label>
                  <input type="tel" pattern="^[0-9-+\s]*$" class="form-control" id="tel"  required>
                </div>
                <div class="col-md-6 mb-3">
                  <label for="adr" >Adresse</label>
                  <input type="text" class="form-control" id="adr">
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 mb-3">
                  <label for="monnaie">Montant Espèce</label>
                  <input (focus)="updateReliquat($event)" (keyup) = "updateReliquat($event)"  type="number" min = "1" class="form-control" id="monnaie" required>
                </div>
                <div class="col-md-6 mb-3">
                  <label for="reliquat">Monnaie À Rendre</label>
                  <input type="text" class="form-control" id="reliquat"  readonly>
                </div>
              </div>

          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" id="btn-close" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
        <button type="submit" class="btn btn-primary" (click)="triggerSend($event)">Délivrer la facture </button>
      </div>
    </div>
    </form>
  </div>
</div>
