<div class="col-md-12">
  <div class="bgc-white p-20 mB-20 table-responsive">
   <div class="row">
     <h5 class="col-md-9 c-grey-900 mB-20">Listes des articles facturés</h5>
     <div class="col-md-3 mb-3 to-align-right">
       <div class="peer">
         <button type="button" class="btn cur-p btn-success" data-toggle="modal" data-target="#modalAboutClient" >Enrégistrer la facture </button>
       </div>
     </div>
   </div>
    <table class="table table-bordered ">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Description</th>
        <th scope="col">Quantité</th>
        <th scope="col">Prix unitaire</th>
        <th scope="col">Total</th>
        <th scope="col">#</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of liste">
        <th scope="row">{{ item.lib }}</th>
        <td>{{item.qte }}</td>
        <td>{{ item.prix }} fr </td>
        <td>{{item.qte * item.prix }} fr</td>
        <td><button type="button" class="btn cur-p btn-danger" (click)="triggerDelete(item.id)" >Retirer</button></td>
      </tr>
      <tr>
        <td colspan="4">Sous-Total</td>
        <td>{{ sousTotal() }} fr</td>
      </tr>
      <tr>
        <td colspan="4">Taux d'imposition</td>
        <td>18%</td>
      </tr>
      <tr>
        <td colspan="4">TVA</td>
        <td>{{ tva() }} fr</td>
      </tr>
      <tr>
        <td colspan="4">Net à payer</td>
        <td>{{ this.sousTotal() + this.tva() }} fr</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
